// @font-face {
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 400;
//   src: local(""), url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
// }

// @font-face {
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 500;
//   src: local(""), url("../../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
// }
// @font-face {
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 700;
// //   src: local(""), url("../../fonts/Roboto/Roboto-Bold.ttf") format("ttf");
//   src: local(""), url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
// }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("~/src/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("~/src/assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("~/src/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

* {
  font-family: "Roboto";
}
