// page
$--bg--page: #F1F1F1;

// form
$--bg--form: #FFFFFF;

// form
$--input--border-color: #cccccc;


// button
$--bg--main: #E74266;
$--bg--main-light: lighten(#E74266, 10%);
$--bg--main-dark: darken(#E74266, 10%);


// 
// typography, fonts
$--color--placeholder: #AEAEAE;
$--color--regular: #181818;
$--color--on-main: #FFFFFF;

$--color--icon-off: #7B88AC;
$--color--icon-on: #E74266;

$--color--main: #E74266;
$--color--error: #E74266;


$--font-size--large: 28px;
$--font-size--regular: 20px;
$--font-size--small: 12px;
$--font-size--tiny: 10px;

$--font-size--large-scale-1024: 24px;
$--font-size--regular-scale-1024: 14px;
$--font-size--tiny-scale-1024: 8px;

$--font-size--large-scale-425: 20px;
$--font-size--regular-scale-425: 16px;

$--font-size--large-scale-375: 18px;

$--font-weight--bold: bold;

$--font-weight--medium: 500;
$--font-weight--normal: 400;
// 
// 

